
body{
    background-color: aliceblue;
    font-family: 'Trebuchet MS';
}


.grid-container{
    display: grid;
    gap: 50px 100px;
}

.grid-item{
    display: inline-grid;
    background-color: plum;
    text-align: justify;
    padding: auto;
    font-size: medium;
}