head{
    background-color: aliceblue;
    font-family: 'Trebuchet MS';
}


body{
    background-color: aliceblue;
    font-family: 'Trebuchet MS';
}

img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-div{
    margin-top: 30px;
    margin-bottom: 40px;
}

.nav-bar{
    list-style-type: none;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}

.nav-links{
    float: left;
}

.nav-a{
    display: block;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-a:hover{
    background-color: plum;
    text-emphasis: none;
    text-emphasis-color: white;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 100px;
}

.grid-item{
    display: inline-grid;
    background-color: rgb(212, 179, 212);
    text-align: justify;
    padding: auto;
    font-size: medium;
}

.grid-item:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.back-button{
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
}

.a-back-button:link{
  text-decoration: none;
}